html {
    background:#E5EFF4;
    color:#C0C055;
    font:14px Verdana, Arial;
}

#main{
    padding: 10px;
    background:#EFEFF4;
    color: #666;
    font-size:12px;
    border: 1px solid #fff;
    outline: 1px solid #c9c9c9;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 50px;
}

ul {
    margin: 0;
    padding: 0;
    float: left;
}

li{
    display: inline-table;
}

a{
    text-decoration: none;
    background-color: #909090;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    border-left: 5px solid #33ADFF;
    display: block;
}

a:hover {
    background-color: #33ADFF;
}

#header {
    height:200px;
    background-image:  url(../img/header.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #33ADFF;
    color: #fff;
    width: 100%;
    font-weight: bold;
}

button{
    text-decoration: none;
    background-color: #909090;
    color: #fff;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    border-left: 5px solid #33ADFF;
}

button:hover {
    background-color: #33ADFF;
}