<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="header">
</div>
<ul>
    <li><a href="./index">Главная</a></li>
    <li><a href="./catalog">Каталог услуг</a></li>
    <li><a href="./works">Наши работы</a></li>
    <li><a href="./partners">Наши партнеры</a></li>
    <li><a href="./contacts">Контакты</a></li>
</ul>
<div id="main">
    ручками: <br>
    <img src="../img/zdan.png" height = "200" width = "300">
    <figcaption>Капитальный ремонт зданий</figcaption>
    <img src="../img/dis.png" height = "200" width = "300">
    <figcaption>Дизайн и проектирование</figcaption>
    <img src="../img/valic.png" height = "200" width = "300">
    <figcaption>Отделочные работы</figcaption>
</div>
<div id="footer">
    Подвал
</div>
</body>
</html>